In [13]:
## For Looping
## write sentence 8 times 

for string in range(3):
  print("Hello World->",string+1,(string+1)*'.')

print("-----------------------------------------------")

for string2 in range(1,8,2):
  print("Hello World->",string2+1,(string2+1)*'.')

Hello World-> 1 .
Hello World-> 2 ..
Hello World-> 3 ...
-----------------------------------------------
Hello World-> 2 ..
Hello World-> 4 ....
Hello World-> 6 ......
Hello World-> 8 ........

In [28]:
# for else looping
# print odd or even
x=89
if x%2==0:
  print("even")
else:
  print("odd") 

print("==============================================")
## break the loop when y = 3

for e in range(4):
  if e==3: 
    break
  print(e)
else:
    print("hh")

odd
==============================================
0
1
2

In [3]:
## loop over list
a=[1,2,3,4]

for b in a:

  print(b*2)

2
4
6
8

In [13]:
##Find the Number Occurring Odd Number of Times
arr = [5, 7, 2, 7, 5, 2, 5,5,7,4,5,6,7,8,9,1,2,3,4,5,6,7,8]
def gg(jjjj):
  count=0
  for h in arr:
   if (h%2 !=  0):
    count+=1
  return count

In [12]:
final=gg(arr)
print(final)

14

In [16]:
arr = [5, 7, 2, 7, 5, 2, 5,5,7,2]
def gg(jjjj):
  count=0
  for h in arr:
   if (h%2 ==  0):
    count=count+h
  return count

In [17]:
gg(arr)

6